/* @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
body {
    margin: 0;
    padding: 0;
    background: #ffeb3b;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: 'Calistoga', cursive;
    color: #f00;
    font-size: 8em;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 1),
    0 10px 40px rgba(0,0,0,0.2),
    0 20px 30px rgba(0,0,0,0.2),
    0 30px 20px rgba(0,0,0,0.2);
}

h1:before {
    content:attr(data-title);
    position: absolute;
    top: -5px;
    left: 0;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    color: #ffc107;
    transition: .5s;
}

h1:after {
    content:attr(data-title);
    position: absolute;
    top: -10px;
    left: 0;
    text-shadow: 0 2px 2px rgba(1, 152, 117, 1);
    color: rgba(1, 152, 117, 1);
    transition: .5s;
}

h1:hover:before {
    top: -10px;
    left: 10px;
}

h1:hover:after {
    top: -20px;
    left: 20px;
}

h1:hover {
    text-shadow: -10px 10px 0 rgba(0, 0, 0, 1),
    0 10px 40px rgba(0,0,0,0.2),
    0 20px 30px rgba(0,0,0,0.5),
    20px 20px 20px rgba(0,0,0,0.5);
} */

body {
    margin: 0;
    padding: 0;
}

/* .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #f9d423, #e65c00);
} */

/* .container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    font
} */

.elements div {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 6px solid rgba(0,0,0,0.9);
}

.elements div:nth-child(1) {
    top: 11%;
    left: 41%;
    animation: animate 10s linear infinite;
}

.elements div:nth-child(2) {
    top: 90%;
    left: 49%;
    animation: animate 7s linear infinite;
}

.elements div:nth-child(3) {
    top: 62%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.elements div:nth-child(4) {
    top: 45%;
    left: 78%;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translate(-90px) rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translate(-90px) rotate(180deg);
        border-radius: 50%;
        opacity: 0;
    }
}