/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background: #0a0a0a;
    background-position: fixed;
    background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url(https://media0.giphy.com/media/2shBNJSPTrpWvoXfpD/giphy.gif);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* header section */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
   }
.navbar
{
    background-color: transparent !important;
    box-shadow: none !important;
}

.showcase
{
    right:0;
    z-index:2;
}

.showcase video
{
    top: 0;
    left: 0;
    object-fit: cover;
}

.overlay
{
    top:0;
    left: 0;
    background-color: blueviolet;
    mix-blend-mode: overlay;
}

.text h2
{
    font-weight: 800;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }

    /*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
    }
    video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    }

    .video-background
    {
        position:relative;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0,.60);
        background-position:fixed;
    }

    #article-poly
    {
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0% 100%);
    }

    #contact-poly
    {
        /* -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%); */
        clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
    }

/* custom color */

