:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
    --clr-link: #4d97b2;
    --clr-popular: #ef257a;
    --clr-technology: #651fff;
    --clr-psychology: #e85808;
  }

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    /* background: #0a0a0a;
    background-position: fixed;
    background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url(https://media0.giphy.com/media/2shBNJSPTrpWvoXfpD/giphy.gif);
    background-size: cover;
    background-position: center;
    z-index: 1; */
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* header section */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    font-family: 'Calistoga', cursive;
   }
.navbar
{
    background-color: transparent !important;
    box-shadow: none !important;
}

.showcase
{
    right:0;
    z-index:2;
}

.showcase video
{
    top: 0;
    left: 0;
    object-fit: cover;
}

.overlay
{
    top:0;
    left: 0;
    background-color: blueviolet;
    mix-blend-mode: overlay;
}

.text h2
{
    font-weight: 800;
}

.carousel-item > .col-md-3 > .card
{
    margin:0 30px 0 30px;
    box-shadow:none !important  ;
}






    span.title {
        writing-mode: vertical-rl;
        font-weight: 900;
      }

.card .card-img-top
{
    height: 220px !important;
    object-fit: contain !important;
}

/* .marquee {
    background: blue;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
} */

/* articles */
.card
{
  transition: 250ms all ease-in-out;
  box-shadow: none ;
}

.card-article {
    overflow: hidden;
    background: white;
    position: relative;
    width: auto;
    margin: 0.5rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px var(--clr-gray-light);
  }

 
  .banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
  }
  
  .category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: red;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .popular {
    background: var(--clr-popular);
  }
  
  .technology {
    background: var(--clr-technology);
  }
  
  .psychology {
    background: var(--clr-psychology);
  }
  
  .card-body-article {
    margin: 15rem 1rem 1rem 1rem;
  }
  
  .blog-hashtag {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--clr-link);
  }
  
  .blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
  }
  
  .blog-description {
    color: var(--clr-gray-med);
    font-size: 0.9rem;
  }
  
  .card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-profile-info {
    margin-left: 1rem;
  }
  
  .profile-name {
    font-size: 1rem;
  }
  
  .profile-followers {
    color: var(--clr-gray-med);
    font-size: 0.9rem;
  }


/* custom button */
.text-green
{
    color:#036A43;
}

.text-yellow
{
    color:#FFCA27;
}

.bg-green
{
    background:#036A43;
}

.bg-yellow
{
    background:#FFCA27;
}
 
.skewed {
    display: inline-block;
    font: 2em/1 impact, sans-serif;
    position: relative;
    -webkit-transform: rotate(-5deg) skew(-5deg, 0);
       -moz-transform: rotate(-5deg) skew(-5deg, 0);
        -ms-transform: rotate(-5deg) skew(-5deg, 0);
         -o-transform: rotate(-5deg) skew(-5deg, 0);
            transform: rotate(-5deg) skew(-5deg, 0);
}


.skewed span {
    
    color: #ffe;
    padding: 1em;
    position: relative;
    text-shadow: 1px 2px 0 #666,
                 2px 3px 0 #888;
    text-transform: uppercase;
}

/* #article-poly
    {
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 0% 100%,70% 100%,0% 100%,0% 1000%);
        position: relative;
    } */

    #article-poly{
        width: 100%;
        position: relative;
      }

    #article-poly::after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #036A43;
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0% 100%);
    }


    .inner {
        position: relative;
        top: 40px;
        margin: 0 auto;
        align-items: center; 
        justify-content: center;
      }

    #contact-poly
    {
        /* -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%); */
        clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
    }

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }

    /*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
    }
    video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    }

    .video-background
    {
        position:relative;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0,.60);
        background-position:fixed;
    }

    

/* custom color */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/* landing */

h1.test {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f00;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 1),
  0 10px 40px rgba(0,0,0,0.2),
  0 20px 30px rgba(0,0,0,0.2),
  0 30px 20px rgba(0,0,0,0.2);
}

@media (min-width: 991px) {
  h1.test{
    top: 100%;
    letter-spacing: 5px;
    font-size: 8em;
  }
}





h1.test:before {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  content:attr(data-title);
  position: absolute;
  top: -5px;
  left: 0;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
  color: rgba(22, 160, 133, 1);
  transition: .5s;
}

h1.test:after {
  content:attr(data-title);
  position: absolute;
  top: -10px;
  left: 0;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
  color: #ffc107;
  transition: .5s;
}

h1.test:hover:before {
  top: -10px;
  left: 10px;
}

h1.test:hover:after {
  top: -20px;
  left: 20px;
}

h1.test:hover {
  text-shadow: -10px 10px 0 rgba(0, 0, 0, 1),
  0 10px 40px rgba(0,0,0,0.2),
  0 20px 30px rgba(0,0,0,0.5),
  20px 20px 20px rgba(0,0,0,0.5);
}
